*{
    padding: 0;
    margin: 0;
}
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}

.nav-bar #nav-bar-left-logo {
    width: 30%;
    height: 100%;
    display: inline-block;
    direction: ltr;
}

.nav-bar #nav-bar-left-logo img {
    vertical-align: middle; 
    margin-left: 40%; 
    width: 50px;
    margin-top: 20px;
}

.nav-bar #nav-bar-left-logo h1 {
    display: inline-block; 
    vertical-align: middle; 
    margin: 0;
    margin-left: 10px; 
    font-size: 24px; 
    font-family: Arial, sans-serif;
    margin-top: 30px;
}
.nav-bar #nav-bar-middle-buttons{
    display: inline-block;
    height: 100%;
    width: 40%;
    margin-left: 20%;
    text-align: center;
}
.nav-bar #nav-bar-middle-buttons ul{
    vertical-align: middle;
    list-style-type: none;
}
.nav-bar #nav-bar-middle-buttons ul li{
    vertical-align: middle;
    display: inline-block;
    margin-top: 40px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    border-radius: 15px;
    text-decoration: none;
}
.nav-bar #nav-bar-middle-buttons ul li a{
    text-decoration: none;
    color: rgb(186, 185, 185);
    font-weight: bold;
    font-size: 21px;
}
.nav-bar #nav-bar-middle-buttons ul li:hover{
    background-color: rgb(229, 214, 245);
    cursor: pointer;
}
.nav-bar #nav-bar-middle-buttons ul li:hover:last-child{
    background-color: white;
    cursor:default;
}
#first-section-container{
    width: 1400px;
    min-height: 700px;
    background-color: rgb(240, 238, 238,0.8);
    margin-top: 120px;
    margin-left: 13%;
    box-shadow: 2px 2px 30px rgb(126, 126, 126);
    position: relative;
    top: 10px;
}
#first-section-container-left{
    display: inline-block;
    width: 50%;
    height: 100%;
}
#first-section-container-left h1{
    margin-top: 25%;
    margin-left: 15%;
    font-size: 40px;
    font-family: 'tahoma';
}
#first-section-container-left p{
    margin-top: 50px;
    margin-left: 15%;
    width: 55%;
}
#first-section-container-left input[type='button']{
    margin-top: 60px;
    margin-left: 15%;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(255, 115, 15);
    font-size: 18px;
    font-weight: bold;
}
#first-section-container-left input[type='button']:hover{
    cursor: pointer;
}
#first-section-container-left input[value='Contact Us']{
    margin-left: 20px;
    background-color: black;
}
#first-section-container-right{
    width: 30%;
    height: 100%;
    display: inline-block;
    position:absolute;
   }
   #first-section-container-right img{
    margin-top: 20%;
    margin-left: 10%;
   }
.second-section{
    margin-top: 100px;
}
   #second-section-header{
    margin-top: 100px;
    width: 90%;
    min-height: 60vh;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
}
#second-section-header h1,p{
    text-align: center;
    margin-bottom: 15px;
}
#second-section-header h1{
    font-size: 35px;
}
#second-section-service-card{
    display: inline-block;
    width: 20%; 
    height: 350px;
    border: 1px solid black;
    margin: 10px; 
    box-sizing: border-box; 
    vertical-align: top;

}
#second-section-service-card:last-child {
    margin-right: 0;
}
#second-section-service-card:hover{
    border-top: 8px solid rgb(241, 180, 12);
    cursor: pointer;
}
#second-section-service-card img,h3,p{
    margin-top: 20px;
}
#second-section-service-card h3{
    color: rgb(255, 145, 0);
}
#second-section-service-card p{
    width: 90%;
    margin-left: 5%;
}
#first-section-container-bottom{
    margin-top: 25px;
}
#first-section-container-bottom button{
    background-color: black;
    width: 120px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    outline: none;
}
#first-section-container-bottom button:hover{
    cursor: pointer;
    background-color: rgb(245, 113, 31);
    border: none;
}
.third-section{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-top: 100px;
}
.third-section h1{
    font-size: 35px;
}
  #third-section-buy-card{
    margin-top: 50px;
    width: 85%;
    height: 200px;
    margin-left: 7.5%;
  }
  #third-section-buy-card-left{
    width: 60%;
    height: 100%;
    text-align: left;
    display: inline-block;
  }
  #third-section-buy-card-left h1,#third-section-buy-card-left p{
    text-align: left;
    width: 90%;
  }
  #third-section-buy-card-left button{
    color: white;
    background-color: black;
    width: 110px;
    height: 40px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
  }
  #third-section-buy-card-left button:hover{
    cursor: pointer;
    background-color: darkorange;
  }
  #third-section-buy-card-right{
    display: inline-block;
    width: 25%;
    height: 90%;
}
#third-section-buy-card-right img{
    width: 50%;
    height: 90%;
    object-fit: fill;
}
.fourth-section{
    width: 98%;
    margin-left: 1%;
    min-height: 85vh;
    background-image: url('/images/tasty.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 100px;
}
.fourth-section h1{
    display: inline-block;
    color: white;
    margin-top: 15%;
    font-size: 180px;
    font-family: 'Impact';
    letter-spacing: 20px;
    font-weight: 500;
} 
.fifth-section{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    margin-top: 50px;
}
.fifth-section h1{
    font-size: 35px;
}
.fifth-section p:last-child{
    width: 60%;
    margin-left: 20%;
}
.sixth-section{
    width: 100%;
    min-height: 40vh;
    margin-top: 100px;
    
}
#contact-us-dialog{
    margin-top: 100px;
    float: left;
    width: 60%;
    min-height: 40vh;
    margin-left: 10%;
}
#contact-us-dialog h1{
    margin-top: 20px;
    margin-left: 20px;
}
#contact-us-dialog input{
    display: block;
    margin-top: 20px;
    width: 40%;
    outline: none;
    border: none;
    margin-left: 20px;
    border-bottom: 1px solid black;
    height: 20px;
}
#contact-us-dialog input[name='message']{
    margin-top: 40px;
}
#contact-us-dialog input:focus{
    border-bottom: 2px solid darkorange;
}
#contact-us-dialog input[type='submit']{
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: darkorange;
    color: white;
}
#contact-us-dialog input[type='submit']:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
#section-image{
    float: left;
    width: 30%; 
    height: 100px;
    text-align: right;
}
.pg-footer{
    margin-top: 150px;
    width: 100%;
    position: absolute;
    text-align: center;
  }
  .pg-footer h6{
    font-size: 14px;
    margin-bottom: 0;
  }
  .pg-footer{
    width: 90%;
    margin-left: 5%;
    height: 250px;
}
#pg-footer-card{
    float: left;
    width: 10%;
    height: 27vh;
    margin-top: 10px;
    text-align: left;
    margin-right: 10px;
}
#pg-footer-card:first-child{
    margin-left: 30%;
}
#pg-footer-card:last-child{
    width: 15%;
}
#pg-footer-card p{
    text-align: left;
    width: 70%;
}
#pg-footer-card #contact-details-icons{
    margin-bottom: 10px;
    margin-top: 10px;
}
#pg-footer-card #contact-details-icons img:hover{
    cursor: pointer;
}
#pg-footer-card:last-child form label{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
#pg-footer-card:last-child form input[type='text']{
    display: block;
    outline: none;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#pg-footer-card:last-child form input[type='submit']{
    display: block;
    outline: none;
    height: 30px;
    width: 100px;
    background-color: darkorange;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
#copyrights{
    margin-top: 400px;
    width: 100%;
}